.products {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 100px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 300px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
}

.add-to-cart-button {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  color: rgb(19, 19, 19);
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.7; /* Make the button slightly transparent */
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
  opacity: 1; /* Fully visible on hover */
}

.stock-quantity h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
